@import url("main.css");

.overlayBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  transition: 0.2s ease;
  z-index: 6;
  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

.overlayMenu {
  --padding: 20px;
  --sub-padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  height: calc(90vh - var(--padding));
  width: calc(90vw - (var(--padding) * 2));
  padding: var(--padding);
  padding-bottom: 0;
  border-radius: var(--borderRadiusSlight);
  background: rgba(0, 0, 0, 0.7);
  outline: 3px solid var(--accentTransparent1);
  transition: 0.2s ease;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.8);
  filter: blur(10px);
  opacity: 0;
  pointer-events: none;

  &.open {
    transform: translate(-50%, -50%);
    filter: none;
    opacity: 1;
    pointer-events: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 var(--sub-padding) 0;
    margin-bottom: var(--sub-padding);
    border-bottom: 2px solid var(--accentTransparent2);

    h1 {
      margin: 0;
    }

    .closeButton {
      display: block;
      height: 100%;
      padding: 12px;
      font-size: 16px;
      border: 3px solid var(--accentTransparent1);
      background: rgba(0, 0, 0, 0.5);
      border-radius: var(--borderRadiusSlight);
      cursor: pointer;
      transition: 0.15s ease;

      &:hover {
        background: var(--accentTransparent1);
        border-color: var(--accent);
      }
    }
  }
}

#settingsFrame {
  width: 900px;
  max-width: 90vw;

  ul#settingsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--sub-padding);
    list-style-type: none;
    padding: 0;
    padding-bottom: var(--padding);
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    h1,
    h2,
    h3 {
      text-align: left;
      width: max-content;
      cursor: default;
      margin: 0;
    }

    li.option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px;
      background: var(--accentTransparent2);
      border-radius: var(--borderRadiusSlight);
      overflow: hidden;
      width: calc(100% - 32px);

      p.label {
        font-size: 90%;
        max-width: 80%;
      }

      /* Checkbox */
      input.checkbox {
        background: var(--accentTransparent2);
        border: 3px solid var(--accentTransparent1);
        height: 20px;
        width: 20px;
      }

      /* Hide file inputs */
      input[type=file] {
        display: none;
      }

      /* Dropdown */
      select.dropdown {
        background-color: var(--accentTransparent1);
        border: 3px solid var(--accentTransparent1);
        border: none;
        border-radius: var(--borderRadiusSlight);
        padding: 4px 6px 4px 6px;
        color: inherit;
        outline: transparent;
        transition: 0.15s ease;

        option {
          background: rgb(26, 32, 48);
        }

        &:focus,
        &:hover {
          background-color: var(--accent);
        }
      }

      /* Button */
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background: var(--accentTransparent1);
        height: 25px;
        border: 3px solid var(--accentTransparent1);
        border-radius: var(--borderRadiusSlight);
        cursor: pointer;
        transition: 0.15s ease;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        span {
          pointer-events: none;
          color: inherit;
          font-size: 90%;
        }

        img {
          height: 90%;
          width: auto;
          pointer-events: none;
        }

        &:hover {
          background-color: var(--accent);
        }
      }


      input,
      select,
      button {
        margin-top: 0;

        &:focus,
        &:focus-within {
          outline: 2px solid var(--accentTransparent1);
        }
      }
    }
  }

  #currentVersion {
    opacity: 0.5;
    margin: 0;
  }

  #socialHeader {
    text-align: left;
    cursor: default;
  }

  ul#socialLinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--sub-padding);
    list-style-type: none;
    padding: 0;

    li {
      margin: 2px;

      a {
        background: var(--accentTransparent2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: var(--borderRadiusSlight);
        color: white;
        transition: 0.1s ease;
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
      }

      a:hover {
        background-color: var(--accentTransparent1);
        text-decoration: underline;
      }

      .socialText {
        color: inherit;
        text-decoration: inherit;
        margin-left: 8px;
        font-size: inherit;
        cursor: inherit;
      }

      .socialIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: 0.15s ease;
        object-fit: cover;
      }

      a:hover .socialIcon {
        filter: brightness(120%);
      }
    }
  }
}

#changelogFrame .content {
  overflow-x: hidden;
  overflow-y: scroll;
}

body.settingsOpen main {
  pointer-events: none;
}

#appDetails {
  position: fixed;
  height: calc(100vh - 55px);
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  z-index: 4;
  bottom: -100vh;
  opacity: 0;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.hidden {
  display: none;
}

body.blurEnabled {
  .backdropBlur {
    backdrop-filter: var(--backdropBlur);
    -webkit-backdrop-filter: var(--backdropBlur);
  }

  .backdropBlurChildren * {
    backdrop-filter: var(--backdropBlur);
    -webkit-backdrop-filter: var(--backdropBlur);
  }
}

body:not(.blurEnabled) {
  .backdropBlur,
  .backdropBlurChildren * {
    backdrop-filter: var(--noBlurFilter);
    -webkit-backdrop-filter: var(--noBlurFilter);
  }
}

body.mobileMode {
  .showOnMobile {
    display: block;
  }

  .apps {
    .appsButton:not(.mobileApp) {
      display: none;
    }
  }
}

/* Hide a category header if there are no visible children inside */