@import url("./elements/particles.css");

:root {
  --buttonImageEndPosition: 500px;
  --buttonImageEndOpacity: 0.15;
}

@keyframes buttonFlash {
  0% {
    outline-color: var(--accent);
  }

  50% {
    outline-color: var(--accentLight);
  }

  100% {
    outline-color: var(--accent);
  }
}

@keyframes buttonHoverRepeatingImage {
  0% {
    opacity: 0;
    background-position: 0;
  }

  1% {
    opacity: var(--buttonImageEndOpacity);
  }

  100% {
    background-position: var(--buttonImageEndPosition);
  }
}

html {
  background-color: var(--mainBackground);
  background-image: var(--mainBackgroundImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  overflow-x: hidden;
  width: 100vw;
}

body {
  background: transparent;
  font-family: var(--font), sans-serif;
  color: var(--textColor1);
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: 0.3s ease background;

  &:has(.openButton:hover),
  &:has(.openButton:focus),
  &:has(.openButton:active),
  &:has(.openButton:focus-within) {
    background: rgba(0, 0, 0, 0.5);
  }
}

* {
  font-family: inherit;
}

button.openButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 350px;
  max-width: 90vw;
  height: 200px;
  max-height: 90vh;
  background: var(--accentDarkBackgroundTransparent2);
  border: none;
  outline: 4px solid var(--accentDarkBackgroundTransparent1);
  outline-offset: 0;
  color: var(--textColor1);
  font-weight: bold;
  font-size: 26px;
  border-radius: var(--borderRadiusTiny);
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(4px);
  transition: 0.1s ease;
  transition-property: outline-offset outline-color background width box-shadow;

  .repeatingImage {
    background-image: url("../img/ButterDog\ Rounded.png");
    background-repeat: repeat;
    width: 150%;
    height: 250%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
    transition: 0.1s ease opacity;
    opacity: 0;
    z-index: 0;
  }

  p {
    position: relative;
    z-index: 5;
  }

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    background: var(--accentDarkBackgroundTransparent1);
    outline-offset: 6px;
    outline-color: var(--accent);
    width: 500px;
    box-shadow: 0 0 24px var(--accentLight);
    animation: buttonFlash 1.5s ease infinite;

    .repeatingImage {
      background-position: var(--buttonImageEndPosition);
      opacity: var(--buttonImageEndOpacity);
      animation: buttonHoverRepeatingImage 30s linear;
    }

    p {
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }
}