@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --accent: rgb(217, 88, 88);
    --accentLight: rgb(245, 115, 115);

    --accentTransparent1: rgba(217, 88, 88, 0.5);
    --accentTransparent2: rgba(217, 88, 88, 0.2);

    --accentDarkBackgroundTransparent1: rgba(126, 94, 94, 0.637);
    --accentDarkBackgroundTransparent2: rgba(48, 31, 31, 0.6);

    --mainBackground: rgb(30, 30, 30);
    --mainBackgroundImage: url("../../img/backgrounds/Red.png");

    --font: 'Inter', sans-serif;

    --textColor1: white;
    --textColor2: rgb(230, 230, 230);

    --textColor2Transparent: rgba(230, 230, 230, 0.8);

    --linkColor1: rgb(217, 88, 88);
    
    --borderRadiusTiny: 6px;
    --borderRadiusSlight: 16px;
    --borderRadiusRound: 30vh;
    
    --starNoFill: url("../img/icons/star_hollow.svg");
    --starFill: url("../img/icons/star_solid.svg");

    --backdropBlur: blur(10px) brightness(0.9);
    --noBlurFilter: brightness(0.2);
}